@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    background: linear-gradient(#c5f9d7, #f7d486, #f27a7d);
    min-height: 100%;
    background-attachment: fixed;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: rgb(247, 212, 134, .75);
    padding: 0px 20px 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 26px 41px -13px rgba(242, 122, 125, 0.75);
    -webkit-box-shadow: 0px 26px 41px -13px rgba(242, 122, 125, 0.75);
    -moz-box-shadow: 0px 26px 41px -13px rgba(242, 122, 125, 0.75);
}

#header {
    background-color: rgb(242, 122, 125, .10);
    border: 1px solid rgb(247, 212, 134, .1);
    height: 125px;
    margin: 15px 0;
    border-radius: 2px;
    text-align: right;
    font-family: 'Quicksand';
    color: #EC575B;
    box-shadow: 14px 7px 47px -1px rgba(242, 122, 125, .1) inset;
    -webkit-box-shadow: 14px 7px 47px -1px rgba(242, 122, 125, .1) inset;
    -moz-box-shadow: 14px 7px 47px -1px rgba(242, 122, 125, .1) inset;
    border-top: 1px solid rgb(242, 122, 125, .15);
    border-left: 1px solid rgb(242, 122, 125, .15);

}

#input-display {
    padding: 7px;
    height: 35%;
    font-size: 17pt;
    text-shadow: -1px -1px 1px rgba(236, 87, 91, 0.15);
}

#answer-display {
    padding: 7px;
    height: 55%;
    align-self: flex-end;
    font-size: 35pt;
    text-shadow: -1px -1px 1px rgba(236, 87, 91, 0.15);
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 3px;
    font-family: 'Quicksand';
    color: #EC575B;
}

#buttons div {
    border-radius: 3px;
}


.button:active {
    -moz-transform: scale(0.97);
    -webkit-transform: scale(0.97);
    -o-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
    border-top: 1px solid rgb(242, 122, 125, .30);
    border-left: 1px solid rgb(242, 122, 125, .30);
    border-bottom: none;
    border-right: none;
    box-shadow: 14px 7px 47px -1px rgba(242, 122, 125, .12) inset;
    -webkit-box-shadow: 14px 7px 47px -1px rgba(242, 122, 125, .12) inset;
    -moz-box-shadow: 14px 7px 47px -1px rgba(242, 122, 125, .12) inset;
}

.operator-btn,
.misc-btn {
    background-color: rgb(242, 122, 125, .35);
    width: 85px;
    height: 85px;
    border: 1px solid rgb(242, 122, 125, .15);
    font-size: 18pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.num-btn {
    background-color: rgb(247, 212, 134, .75);
    width: 85px;
    height: 85px;
    border: 1px solid rgb(242, 122, 125, .15);
    font-size: 25pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.equals-btn {
    width: 85px;
    background-color: rgb(242, 122, 125);
    border: 1px solid rgb(247, 212, 134, .75);
    grid-row: 4 / span 2;
    grid-column: 4;
    font-size: 18pt;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(247, 212, 134);
}